<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="@@desc">
    <meta name="author" content="Shane Duff">
    <meta property="og:type" content="article">
    <meta property="og:url" content="@@url">
    <meta property="og:site_name" content="Copy of Kate - An Online Novel">
    <meta property="og:image" content="@@url/assets/img/social-1200x630.jpg">
    <meta property="og:title" content="@@title">
    <meta property="og:description" content="@@desc">
    <meta property="article:author" content="Shane Duff">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="@@url">
    <meta name="twitter:title" content="@@title">
    <meta name="twitter:description" content="@@desc">
    <meta name="twitter:image" content="@@url/assets/img/social-1200x630.jpg">
    <meta name="twitter:site" content="@drainpip">
    <meta name="twitter:site:id" content="55571772">
    <link rel="shortcut icon" href="favicon.ico">
    <title>@@title</title>
    <link href="//fonts.googleapis.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <link href="/assets/css/main.min.css?v=1.0.0" rel="stylesheet">
  </head>
  <body>