.Table-of-contents {
  font-size: 1.3em;
  list-style-position: inside;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-left: 0;
}

.Table-of-contents > li {
  margin-bottom: 0.25em;
}

.Table-of-contents .is-active {
  border: 0;
  color: #ccc;
  cursor: default;
}
